<header class="relative w-full header-section py-5 px-9" #headerRef>
  <div class="flex flex-col md:flex-row">
    <span class="flex items-center">
      <button
        class="md:!hidden order-2 !ml-auto text-white"
        mat-icon-button aria-label="Example icon-button with menu icon"
        (click)="matExpansionCompo.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="text-white">TAIWAN 台灣旅遊</h1>
    </span>
    <!-- desktop navbar dropdown | START -->
    <span class="grow hidden md:flex justify-end">
      <a href="#">
        <p class="header-option text-white text-center">{{'HOME.HEADER_ATTRACTION' | translate }}</p>
      </a>
      <a href="#" class="mx-[56px]" routerLink="/search">
        <p class="header-option text-white text-center">{{'HOME.HEADER_ACCOMMODATION' | translate }}</p>
      </a>
      <a href="#">
        <p class="header-option text-white text-center">{{'HOME.HEADER_DELICACY' | translate }}</p>
      </a>
    </span>
    <!-- END -->
    <!-- mobile navbar dropdown | START -->
    <mat-expansion-panel class="md:!hidden mat-expansion-panel-custom">
      <ng-template matExpansionPanelContent>
        <a href="#" class="text-center">
          <p class="text-white text-center py-5">{{'HOME.HEADER_ATTRACTION' | translate }}</p>
        </a>
        <a href="#" class="text-center" routerLink="/search">
          <p class="text-white text-center py-5">{{'HOME.HEADER_ACCOMMODATION' | translate }}</p>
        </a>
        <a href="#" class="text-center">
          <p class="text-white text-center py-5">{{'HOME.HEADER_DELICACY' | translate }}</p>
        </a>
      </ng-template>
    </mat-expansion-panel>
    <!-- END -->
  </div>
</header>
