<div class="banner-section mb-5">
  <form
    class="form px-5 md:px-0"
    [formGroup]="searchForm"
  >
    <div class="flex mb-5">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'HOME.BANNER_SECTION_INPUT_KEYWORD' | translate }}</mat-label>
        <input matInput formControlName="search">
        <mat-icon matSuffix svgIcon="custom-svg:search"></mat-icon>
      </mat-form-field>
    </div>
    <div class="flex justify-between flex-col md:flex-row">
      <div class="relative flex-grow mb-5 md:mr-8 md:mb-0">
        <mat-form-field appearance="fill" color="primary">
          <mat-label>{{ 'HOME.BANNER_SECTION_INPUT_TYPE' | translate }} </mat-label>
          <!-- <mat-select [(ngModel)]="typeOption" name="type">
            <mat-option *ngFor="let item of typeList" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select> -->
          <mat-select name="type" formControlName="type">
            <mat-option *ngFor="let item of typeList" [value]="item.value">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="relative flex-grow">
        <mat-form-field appearance="fill" color="primary">
          <mat-label>{{ 'HOME.BANNER_SECTION_INPUT_CITY' | translate }} </mat-label>
          <!-- <mat-select [(ngModel)]="selectedValue" name="city">
            <mat-option *ngFor="let city of cityList" [value]="city.City">
              {{ city.CityName }}
            </mat-option>
          </mat-select> -->
          <mat-select name="city" formControlName="city">
            <mat-option *ngFor="let city of cityList" [value]="city.City">
              {{ city.CityName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="travel-scenic-section">
  <h2 class="font-bold text-3xl text-center mb-5">旅遊景點</h2>
  <div class="flex justify-around flex-wrap">
    <span
      *ngFor="let item of scenicList"
      class="scenic-block bg-center bg-cover mb-5"
      [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
    >
      <h3>{{ item.ScenicSpotName }}</h3>
    </span>
  </div>
</div>
<div class="bg-grey spacer hidden md:block"></div>
<div class="reading-more-section mt-5 pb-[20px]">
  <div class="activity-section mb-8">
    <div class="mb-5 relative activity-title">
      <h2 class="font-bold text-3xl text-center flex-grow">觀光活動</h2>
      <button class="bg-primary text-white hidden md:inline see-more-btn mt-5" type="button">查看更多</button>
    </div>

    <div class="flex justify-around flex-wrap">
      <div
        *ngFor="let item of activityList"
        class="activity-block flex flex-col"
      >
        <div class="activity-block-image-container">
          <div
            class="activity-block-image"
            [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
          >
          </div>
        </div>
        <div class="activity-block-intro flex flex-col justify-around flex-grow">
          <h3>{{ item.ActivityName }} </h3>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:location"></mat-icon>
            <span>{{ item.Address }}</span>
          </p>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:clock"></mat-icon>
            <span>{{ item.StartTime | date: 'yyyy/M/d' }} - {{ item.EndTime | date: 'yyyy/M/d' }} </span>
          </p>
        </div>
      </div>
    </div>
    <button class="bg-primary text-white sm:hidden see-more-btn block mx-auto mt-5" type="button">查看更多</button>
  </div>
  <div class="bg-grey spacer block md:hiddn"></div>
  <div class="activity-section mb-8">
    <div class="mb-5 relative activity-title">
      <h2 class="font-bold text-3xl text-center flex-grow">美食品嚐</h2>
      <button class="bg-primary text-white hidden md:inline see-more-btn" type="button">查看更多</button>
    </div>

    <div class="flex justify-around flex-wrap">
      <div
        *ngFor="let item of delicacyList"
        class="activity-block flex flex-col"
      >
        <div class="activity-block-image-container">
          <div
            class="activity-block-image"
            [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
          >
          </div>
        </div>
        <div class="activity-block-intro flex flex-col justify-around flex-grow">
          <h3>{{ item.RestaurantName }} </h3>
          <p class="flex items-center mb-2">
            <mat-icon class="mr-3" svgIcon="custom-svg:location"></mat-icon>
            <span>{{ item.Address }}</span>
          </p>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:clock"></mat-icon>
            <span>{{ item.OpenTime }} </span>
          </p>
        </div>
      </div>
    </div>
    <button class="bg-primary text-white sm:hidden see-more-btn block mx-auto" type="button">查看更多</button>
  </div>
  <div class="bg-grey spacer block md:hidden"></div>
  <div class="activity-section">
    <div class="mb-5 relative activity-title">
      <h2 class="font-bold text-3xl text-center flex-grow">住宿推薦</h2>
      <button class="bg-primary text-white hidden md:inline see-more-btn" type="button">查看更多</button>
    </div>

    <div class="flex justify-around flex-wrap">
      <div
        *ngFor="let item of accommodationList"
        class="activity-block flex flex-col"
      >
        <div class="activity-block-image-container">
          <div
            class="activity-block-image"
            [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
          >
          </div>
        </div>
        <div class="activity-block-intro flex flex-col justify-around flex-grow">
          <h3>{{ item.HotelName }} </h3>
          <p class="flex items-center mb-2">
            <mat-icon class="mr-3" svgIcon="custom-svg:location"></mat-icon>
            <span>{{ item.Address }}</span>
          </p>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:phone"></mat-icon>
            <span>{{ item.Phone }} </span>
          </p>
        </div>
      </div>
    </div>
    <button class="bg-primary text-white sm:hidden see-more-btn block mx-auto" type="button">查看更多</button>
  </div>
</div>
