.banner-section {
  background-image: url('../../../assets/images/bannerImage.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    max-width: 625px;
    flex-grow: 1;
    .search-input {
      display: flex;
    }
    input[type=text] {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    input[type=text]:focus {
      outline: none;
    }
    button[type=button] {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .search-icon {
      width: 17px;
      height: 17px;
    }
  }
}
.dropdownList {
  max-height: 200px;
  overflow-y: auto;
  li:not(:last-child) a {
    border-bottom: 1px solid #F4F4F4;
  }
}
.travel-scenic-section {
  padding-bottom: 20px;
  .scenic-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 251px;
    height: 125px;
    border-radius: 8px;
    outline: 1px solid #000;
    position: relative;
    overflow: hidden;

    h3 {
      color: #fff;
      position: relative;
      font-size: 36px;
      text-align: center;
      font-weight: 700;
    }
  }
  .scenic-block:hover {
    cursor: pointer;
  }
  .scenic-block:hover.scenic-block::before {
    opacity: 0.2;
  }
  .scenic-block::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity .5s;
  }
}

.activity-section {
  .see-more-btn {
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
.activity-title {
  position: relative;
  button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.activity-block {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px rgba(229, 229, 229, 1);
  max-width: 385px;
  margin: 15px;

  .activity-block-image {
    width: 385px;
    height: 168px;
    background-size: cover;
    background-position: center;
  }

  .activity-block-intro {
    padding: 10px 15px;
    h3 {
      font-size: 24px;
      font-weight: 700;
    }
    p {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
