<div class="banner-section mb-5">
  <form class="form px-5 md:px-0">
    <div class="search-input mb-5">
      <input
        id="username"
        type="text"
        [placeholder]="'HOME.BANNER_SECTION_INPUT_KEYWORD' | translate"
        class="w-full pl-[10px] py-[10px]"
      >
      <button type="button" class="bg-white flex items-center px-[10px]">
        <mat-icon class="search-icon" svgIcon="custom-svg:search">search</mat-icon>
      </button>
    </div>
    <div class="flex justify-between flex-col md:flex-row">
      <div class="relative flex-grow mb-5 md:mr-8 md:mb-0">
        <span class="flex">
          <input
            id="username"
            type="text"
            [placeholder]="'HOME.BANNER_SECTION_INPUT_TYPE' | translate"
            class="w-full pl-[10px] bg-white"
            [disabled]="true"
            [value]="typeOption"
          >
          <button type="button" class="bg-white p-[10px] flex items-center" (click)="toggle(dropdown1)">
            <mat-icon color="primary">arrow_drop_down</mat-icon>
          </button>
        </span>
        <div class="z-10 bg-white hidden divide-y divide-gray-100 rounded shadow dark:bg-gray-700 absolute w-full mt-1" #dropdown1>
          <ul class="dropdownList py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
            <li class="px-3" *ngFor="let item of typeList">
              <a
                href="#"
                class="block py-2 hover:text-primary text-center"
                (click)="setSearchContent(dropdown1, item, 'type')"
              >{{ item }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="relative flex-grow">
        <span class="flex">
          <input
            id="username"
            type="text"
            [placeholder]="'HOME.BANNER_SECTION_INPUT_CITY' | translate"
            class="w-full pl-[10px] bg-white"
            [disabled]="true"
            [value]="cityOption"
          >
          <button type="button" class="bg-white p-[10px] flex items-center" (click)="toggle(dropdown2)">
            <mat-icon color="primary">arrow_drop_down</mat-icon>
          </button>
        </span>
        <div class="z-10 bg-white hidden divide-y divide-gray-100 rounded shadow dark:bg-gray-700 absolute w-full mt-1" #dropdown2>
          <ul class="dropdownList py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
            <li class="px-3" *ngFor="let item of cityList">
              <a
                href="#"
                class="block py-2 hover:bg-gray-100 hover:text-primary text-center"
                (click)="setSearchContent(dropdown2, item, 'city')"
              >{{ item }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="travel-scenic-section">
  <h2 class="font-bold text-3xl text-center mb-5">旅遊景點</h2>
  <div class="flex justify-around flex-wrap">
    <span
      *ngFor="let item of scenicList"
      class="scenic-block bg-center bg-cover mb-5"
      [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
    >
      <h3>{{ item.ScenicSpotName }}</h3>
    </span>
  </div>
</div>
<div class="bg-grey spacer hidden md:block"></div>
<div class="reading-more-section mt-5 pb-[20px]">
  <div class="activity-section mb-8">
    <div class="mb-5 relative activity-title">
      <h2 class="font-bold text-3xl text-center flex-grow">觀光活動</h2>
      <button class="bg-primary text-white hidden md:inline see-more-btn mt-5" type="button">查看更多</button>
    </div>

    <div class="flex justify-around flex-wrap">
      <div
        *ngFor="let item of activityList"
        class="activity-block flex flex-col"
      >
        <div class="activity-block-image-container">
          <div
            class="activity-block-image"
            [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
          >
          </div>
        </div>
        <div class="activity-block-intro flex flex-col justify-around flex-grow">
          <h3>{{ item.ActivityName }} </h3>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:location"></mat-icon>
            <span>{{ item.Address }}</span>
          </p>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:clock"></mat-icon>
            <span>{{ item.StartTime | date: 'yyyy/M/d' }} - {{ item.EndTime | date: 'yyyy/M/d' }} </span>
          </p>
        </div>
      </div>
    </div>
    <button class="bg-primary text-white sm:hidden see-more-btn block mx-auto mt-5" type="button">查看更多</button>
  </div>
  <div class="bg-grey spacer block md:hiddn"></div>
  <div class="activity-section mb-8">
    <div class="mb-5 relative activity-title">
      <h2 class="font-bold text-3xl text-center flex-grow">美食品嚐</h2>
      <button class="bg-primary text-white hidden md:inline see-more-btn" type="button">查看更多</button>
    </div>

    <div class="flex justify-around flex-wrap">
      <div
        *ngFor="let item of delicacyList"
        class="activity-block flex flex-col"
      >
        <div class="activity-block-image-container">
          <div
            class="activity-block-image"
            [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
          >
          </div>
        </div>
        <div class="activity-block-intro flex flex-col justify-around flex-grow">
          <h3>{{ item.RestaurantName }} </h3>
          <p class="flex items-center mb-2">
            <mat-icon class="mr-3" svgIcon="custom-svg:location"></mat-icon>
            <span>{{ item.Address }}</span>
          </p>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:clock"></mat-icon>
            <span>{{ item.OpenTime }} </span>
          </p>
        </div>
      </div>
    </div>
    <button class="bg-primary text-white sm:hidden see-more-btn block mx-auto" type="button">查看更多</button>
  </div>
  <div class="bg-grey spacer block md:hidden"></div>
  <div class="activity-section">
    <div class="mb-5 relative activity-title">
      <h2 class="font-bold text-3xl text-center flex-grow">住宿推薦</h2>
      <button class="bg-primary text-white hidden md:inline see-more-btn" type="button">查看更多</button>
    </div>

    <div class="flex justify-around flex-wrap">
      <div
        *ngFor="let item of accommodationList"
        class="activity-block flex flex-col"
      >
        <div class="activity-block-image-container">
          <div
            class="activity-block-image"
            [ngStyle]="{'background-image': 'url(' + item.Picture.PictureUrl1 + ')'}"
          >
          </div>
        </div>
        <div class="activity-block-intro flex flex-col justify-around flex-grow">
          <h3>{{ item.HotelName }} </h3>
          <p class="flex items-center mb-2">
            <mat-icon class="mr-3" svgIcon="custom-svg:location"></mat-icon>
            <span>{{ item.Address }}</span>
          </p>
          <p class="flex items-center">
            <mat-icon class="mr-3" svgIcon="custom-svg:phone"></mat-icon>
            <span>{{ item.Phone }} </span>
          </p>
        </div>
      </div>
    </div>
    <button class="bg-primary text-white sm:hidden see-more-btn block mx-auto" type="button">查看更多</button>
  </div>
</div>
