<div class="banner-section"></div>
<section class="py-[160px] bg-white">
  <div class="flex overflow-x-hidden mb-10 bg-white">
    <div class="scenic-intro mr-6">
      <h2 class="text-primary text-5xl font-semibold mb-6">Explore</h2>
      <h2 class="text-5xl font-medium mb-6">探索台灣每個角落</h2>
      <p class="text-grey mb-8">台灣擁有高山峽谷及四面環海地理特性，因此擁有各種自然景致等待人們發現，無論想要來場山林陶冶身心之旅，抑或體驗歷史人文的深度旅行，都可以在台灣這片土地上踏尋不同的風采。</p>
      <p class="flex items-center">
        <span class="text-primary explore-more">探索更多景色</span>
        <img class="ml-3" src="../../../assets/images/arrow.png" alt="arrow-icon" style="flex-shrink: 0;">
      </p>
    </div>
    <div class="flex">
      <div class="flex mr-6">
        <div class="scenic-pic"></div>
        <h6 class="writing-mode-vl">台東金剛大道</h6>
      </div>
      <div class="flex mr-6">
        <div class="scenic-pic"></div>
        <h6 class="writing-mode-vl">台東金剛大道</h6>
      </div>
      <div class="flex mr-6">
        <div class="scenic-pic"></div>
        <h6 class="writing-mode-vl">台東金剛大道</h6>
      </div>
      <div class="flex mr-6">
        <div class="scenic-pic"></div>
        <h6 class="writing-mode-vl">台東金剛大道</h6>
      </div>
    </div>
  </div>
  <div class="flex justify-end mr-6">
    <div class="flex mr-6">
      <div class="scenic-pic"></div>
      <h6 class="writing-mode-vl">台東金剛大道</h6>
    </div>
    <div class="flex mr-6">
      <div class="scenic-pic"></div>
      <h6 class="writing-mode-vl">台東金剛大道</h6>
    </div>
    <div class="flex mr-6">
      <div class="scenic-pic"></div>
      <h6 class="writing-mode-vl">台東金剛大道</h6>
    </div>
    <div class="flex mr-6">
      <div class="scenic-pic"></div>
      <h6 class="writing-mode-vl">台東金剛大道</h6>
    </div>
  </div>
</section>
<section class="bg-primary h-[620px]">
  <div class="flex items-center justify-center h-full max-w-screen-lg mx-auto">
    <img class="mr-6" src="../../../assets/images/subscribe_img.png" alt="subscribe_img">
    <div>
      <h2 class="text-5xl font-semibold text-yellow mb-6">Subscribe</h2>
      <h2 class="text-5xl font-medium text-white mb-6">每個月來場放鬆旅行</h2>
      <p class="text-white font-normal mb-4">如果你願意收到每月旅遊資訊，一起感受台灣旅行的美好。</p>
      <form class="flex subscribe-form py-3 rounded">
        <input class="ml-6" type="text" placeholder="youremail@example.com">
        <button class="!ml-auto" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>
            <img src="../../../assets/images/subscribe_icon.svg" alt="subscribe_icon">
          </mat-icon>
        </button>
      </form>
    </div>
  </div>
</section>
