.banner-section {
  // background: url('../../../assets/images/banner1.png') no-repeat center;
  background-size: cover;
  height: calc(100vh - 96px);
}
.scenic-intro {
  max-width: 560px;
  flex-shrink: 0;
  margin-left: 200px;
}
.scenic-pic {
  height: 350px;
  width: 251px;
  border: 1px solid #000;
}
.scenic-second-block {
  margin-right: 35px;
  display: flex;
  justify-content: flex-end;
}
@media(max-width: 1025px) {
  .scenic-second-block {
    justify-content: start;
    margin-right: 0;
    padding: 0 15px;
  }
  .scenic-intro {
    max-width: 381px;
    margin-left: 20px;
    padding: 10px 15px;
    h2 {
      font-size: 42px;
    }
  }
  .scenic-pic {
    width: 208px;
  }
}
.writing-mode-vl {
  writing-mode: vertical-lr;
}
.explore-more:hover {
  cursor: pointer;
}
.explore-more+img {
  transition: transform 0.5s;
}
.explore-more:hover+img {
  transform: translateX(10px);
}
.subscribe-input {
  background-color: transparent;
  border: #fff;
  height: 70px;
}
.subscribe-form {
  border: 1px solid #fff;
  opacity: 0.5;

  input {
    background-color: transparent;
    color: #fff;
  }
  input::placeholder {
    color: #fff;
  }
  input:focus {
    outline: none;
  }
}
::ng-deep .custom-pagination {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: -20px;
  position: relative;
  z-index: 2;
  .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
    display: inline-block;
    background: #fff;
    opacity: 0.2;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 1rem;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
  }
}
::ng-deep .swiper-slide-fix-width {
  width: unset !important;
}
