.logo-picture {
  height: 60px;
}
// .header-option {
//   color: #737373;
//   position: relative;
// }
// .header-option:before {
//   content: '';
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   background-color: transparent;
//   position: absolute;
//   top: -20px;
//   left: 50%;
//   transform: translateX(-50%);
// }
// .header-option:hover{
//   color: #F1D675;
// }
// .header-option:hover.header-option:before {
//   background-color: #F1D675;
// }
@media(min-width: 769px) {
  .logo-picture {
    height: 96px;
  }

  .whole-container {
    height: calc(100vh - 96px);
  }
}
.footer-icon {
  color: #ACACAC;
  opacity: 0.5;
}
.footer-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.footer-language:hover {
  cursor: pointer;
  opacity: 1;
}
.mobile-lang-sections {
  position: relative;
}
.mobile-lang-sections:before {
  content: '';
  height: 100%;
  width: 2px;
  background-color: #737373;
  position: absolute;
  left: 0;
  top: 0;
}
