<header  style="padding-top: 10px; padding-bottom: 10px;">
  <mat-toolbar class="header-toolbar">
    <img src="../assets/images/logo.svg" alt="logo">
    <button style="color: #737373; text-decoration: none;" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon>{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>
    <span>Angular Material 試做 Project</span>
    <span class="example-spacer">
      <a href="#" style="color: #737373; text-decoration: none;">
        <p>找景點</p>
        <p>ATTRACTION</p>
      </a>
      <a href="#" style="margin-left: 56px; margin-right: 56px; color: #737373; text-decoration: none;">
        <p>找美食</p>
        <p>DELICACY</p>
      </a>
      <a href="#" style="color: #737373; text-decoration: none;">
        <p>找活動</p>
        <p>ACTIVITY</p>
      </a>
    </span>
    <button mat-icon-button color="primary">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <img src="../assets/images/info.svg" alt="info" style="vertical-align: middle;">
    </button>
  </mat-toolbar>
</header>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="push">
    <mat-nav-list>
      <a mat-list-item href="#" *ngFor="let link of links"> {{ link }} </a>
   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="banner-section"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
