<div class="flex flex-col h-full">
  <app-header
    class="fixed top-0 z-[2] w-full"
    (toggle)="sidenav.toggle()"
    [sideMenuOpen]="sidenav.opened">
  </app-header>
  <mat-sidenav-container class="grow shrink-0">
    <mat-sidenav #sidenav mode="push">
      <mat-nav-list>
        <a mat-list-item href="#" *ngFor="let link of links"> {{ link }} </a>
     </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <footer class="bg-primary">
    <div class="flex justify-between items-center flex-col sm:flex-row max-w-screen-lg mx-auto py-4 px-2 lg:px-0">
      <p class="text-grey text-base hidden lg:block">Follow us</p>
      <p class="hidden sm:flex items-center">
        <mat-icon svgIcon="custom-svg:facebook" class="footer-icon"></mat-icon>
        <mat-icon svgIcon="custom-svg:instagram" class="footer-icon mx-4"></mat-icon>
        <mat-icon svgIcon="custom-svg:youtube" class="footer-icon"></mat-icon>
      </p>

      <div class="text-grey font-normal opacity-50 text-xs flex flex-col lg:flex-row">
        <div class="flex sm:hidden mb-4">
          <p class="flex items-center">
            <mat-icon svgIcon="custom-svg:facebook" class="footer-icon mr-6"></mat-icon>
            <mat-icon svgIcon="custom-svg:instagram" class="footer-icon mr-6"></mat-icon>
            <mat-icon svgIcon="custom-svg:youtube" class="footer-icon mr-6"></mat-icon>
          </p>
          <p class="block sm:hidden mobile-lang-sections pl-6">
            <span
              class="text-grey footer-language font-semibold text-sm mr-6"
              [ngClass]="translate.currentLang === 'zh'? 'opacity-100': 'opacity-50'"
              (click)="switchLang('zh')">CH
            </span>
            <span
              class="text-grey footer-language font-semibold text-sm mr-6"
              [ngClass]="translate.currentLang === 'en'? 'opacity-100': 'opacity-50'"
              (click)="switchLang('en')">EN</span>
            <span
              class="text-grey footer-language font-semibold text-sm"
              [ngClass]="translate.currentLang === 'ja'? 'opacity-100': 'opacity-50'"
              (click)="switchLang('ja')">JA</span>
          </p>
        </div>
        <span class="text-left sm:text-center">Copyright © 2021 TRAVEL. All rights reserved.</span>
        <span class="text-left sm:text-center">Design by Lola , Front Developed by Randy Chen.</span>
      </div>
      <p class="hidden sm:block">
        <span
          class="text-grey footer-language font-semibold text-sm"
          [ngClass]="translate.currentLang === 'zh'? 'opacity-100': 'opacity-50'"
          (click)="switchLang('zh')">CH
        </span>
        <span
          class="text-grey mx-6 footer-language font-semibold text-sm"
          [ngClass]="translate.currentLang === 'en'? 'opacity-100': 'opacity-50'"
          (click)="switchLang('en')">EN</span>
        <span
          class="text-grey footer-language font-semibold text-sm"
          [ngClass]="translate.currentLang === 'ja'? 'opacity-100': 'opacity-50'"
          (click)="switchLang('ja')">JA</span>
      </p>
    </div>
  </footer>
</div>

