.logo-picture {
  height: 60px;
}

@media(min-width: 769px) {
  .logo-picture {
    height: 96px;
  }

  .whole-container {
    height: calc(100vh - 96px);
  }
}
.footer-icon {
  color: #ACACAC;
  opacity: 0.5;
}
.footer-icon:hover {
  cursor: pointer;
  opacity: 1;
}
.footer-language:hover {
  cursor: pointer;
  opacity: 1;
}
.mobile-lang-sections {
  position: relative;
}
.mobile-lang-sections:before {
  content: '';
  height: 100%;
  width: 2px;
  background-color: #737373;
  position: absolute;
  left: 0;
  top: 0;
}
