@use '@angular/material' as mat;

$randy-palette: (
 50: #fcebe6,
 100: #fed1ba,
 200: #feb48d,
 300: #fd985e,
 400: #fc8337,
 500: #fb7100,
 600: #f06a00,
 700: #e26300,
 800: #d55b00,
 900: #bd4e00,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: white,
   600: white,
   700: white,
   800: rgba(white, 0.87),
   900: rgba(white, 0.87),
 )
);

@include mat.core();
$my-primary: mat.define-palette($randy-palette, 300);
$my-accent: mat.define-palette(mat.$indigo-palette);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));
@include mat.all-component-themes($my-theme);
