@use '@angular/material' as mat;

$randy-palette: (
 50: #f1f7ed,
 100: #ddebd3,
 200: #c7ddb8,
 300: #b3cf9e,
 400: #a4c58a,
 500: #95bb78,
 600: #88ab6e,
 700: #769763,
 800: #668359,
 900: #4d5f48,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: white,
   600: white,
   700: white,
   800: rgba(white, 0.87),
   900: rgba(white, 0.87),
 )
);

@include mat.core();
$my-primary: mat.define-palette($randy-palette, 700);
$my-accent: mat.define-palette(mat.$indigo-palette);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));
@include mat.all-component-themes($my-theme);
