@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/scss';
@import 'swiper/scss/pagination';
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700;900&display=swap');
* {
  font-family: 'Noto Sans TC', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
